@font-face {
  font-family: "Figtree";
  src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

:root {
  --clr-yellow: hsl(47, 88%, 63%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-gray-500: hsl(0, 0%, 42%);
  --clr-gray-950: hsl(0, 0%, 7%);
  --box-shadow: 8px 8px 0px 0px #000000;
  --card-border: 1px solid black;
  --card-border-radius: 1.25rem;
  --fw-medium: 500;
  --fw-extra-bold: 800;
}

/* Reset a few bits */
*,
*::after,
*::before {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Start the rules */
body {
  font-family: "Figtree", sans-serif;
  font-weight: var(--fw-medium);
  background-color: var(--clr-yellow);
  line-height: 150%;
  color: var(--clr-gray-950);
  /* Smallest at 450px, largest at 900px */
  font-size: clamp(0.88rem, 0.75rem + 0.44vw, 1rem);
  padding-inline: 1rem;
}

.card {
  max-width: 24rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--card-border-radius);
  border: var(--card-border);
  background-color: var(--clr-white);
  margin: 3rem auto;
  margin-top: 13.6875rem;
  padding: 1.5rem;
}

.card-content {
  margin: 0 auto;
  display: grid;
  gap: 1.5rem;
}

img {
  border-radius: 0.625rem;
  object-fit: cover;
}

.card-header {
  font-weight: var(--fw-extra-bold);
  /* Smallest at 450px, largest at 900px */
  font-size: clamp(1.25rem, 1rem + 0.89vw, 1.5rem);
  margin-block: 0.5em;
}

.card-header:hover {
  color: var(--clr-yellow);
}

.card-body-text {
  color: var(--clr-gray-500);
  margin-block-end: 1.5rem;
}

.tag {
  background-color: var(--clr-yellow);
  display: inline;
  font-weight: var(--fw-extra-bold);
  padding: 0.5em 0.75em;
  border-radius: 0.3em;
}

.author-tagline {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author-tagline > p {
  margin-block: 0;
}

.author-tagline > p {
  font-weight: var(--fw-extra-bold);
}

footer {
  margin-block-start: 4rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
